footer {
    background-color: $bike-orange;
    padding: 15px;
    text-align: right;
    margin-top: 40px;
    font-size: 1.6rem;
}

footer a:hover {
    color: $neutral;
}

//Media query 

@include cellphone-small-screen {
    footer p {
        font-size: 1.15rem;
    }
}