footer {
    background-color: $highlight;
    padding: 15px;
    text-align: right;
    margin-top: 40px;
    font-size: 1.6rem;
}

footer h4{
    color: $font-black;
}

footer p{
    padding: 2px 0;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: $neutral;
}

//Media queries

@include cellphone-portrait {
    footer {
        text-align: left;
    }
}

@include cellphone-small-screen {
    footer p {
        font-size: 1.15rem;
    }
}