* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    @include sansSerif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    @include serif;
    color: $header-primary;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    
}

.wrapper {
    max-width: 1280px;

    margin: 0 auto;

    padding-right: 10px;
    padding-left: 10px;
}

.button {
    border: none;
    border-radius: 4px;
    background: $bike-orange;
    text-transform: uppercase;
}