header {
    height: 100vh;
    background-image: url(../assets/tiffany-nutt-0ClfreiNppM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.intro {
    max-width: 40%;
    position: absolute;
    top: 10%;
    left: 70%;
}

.intro h1 {
    padding: 5% 0;
    color: $bike-blue;
    font-size: 4rem;
}

.intro p {
    width: 80%;
    color: $font-black;
    font-size: 2rem;
    padding-bottom: 2%;
    margin-bottom: 20px;
}

.button-begin {
    border: none;
    padding: 10px 40px;
    border-radius: 4px;
    background: $bike-orange;
    // @include serif();
    text-transform: uppercase;
    // font-weight: bold;
    letter-spacing: 0.5px;
}