header {
    height: 100vh;
    background-image: url(../assets/tiffany-nutt-0ClfreiNppM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.intro {
    max-width: 40%;
    position: absolute;
    top: 10%;
    left: 70%;
}

// Make this uppercase? -T
.intro h1 {
    padding: 5% 0;
    color: $bike-blue;
    font-size: 4rem;
}

// Add some line-height and letter-spacing? -T
.intro p {
    width: 80%;
    color: $font-black;
    font-size: 2rem;
    padding-bottom: 2%;
    margin-bottom: 20px;
}

.button-begin {
    padding: 10px 40px;
    letter-spacing: 0.5px;
}

.button-begin:hover,
.button-begin:focus {
    box-shadow: 0 0 5px 5px $dark-bike-orange inset;
    outline: none;
}

//Media Queries

@include tablet-landscape {
    .intro {
        left: 35%;
        top: 20%;
    }

    .intro h1 {
        padding-bottom: 40px;
    }
    .intro p {
        display: none;
    }
    
    .button-begin {
        margin-left: 27%;
    }
}

@include cellphone-landscape {
    .intro {
        max-width: 100%;
    }
}

@include cellphone-landscape-two {
    .intro {
        left: 25%;
    }
}

@include cellphone-portrait{
    .intro {
        left: 15%;
    }
}


@include cellphone-small-screen {
    .intro {
        left: 5%;
    }
}