


.bike-main {
    // height: 70vh;
}

.form-title {
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 4rem;
}

.form-location {

    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset {
        border: none;
        width: 100%;
    }

    .radio-landmarks {
        display: flex;
        margin: 30px 0;     
        

        .radio-label {
            flex: 1 1 auto;

            text-align: center;
        }

        .radio-label:hover {
            cursor: pointer;
        }

        .radio-label:focus {
            outline: none;
        }

        

        input[type="radio"] {
            position: fixed;
        }

        input[type="radio"]:checked ~ span {
            background: $bike-orange;
            box-shadow: 0 0 5px 5px $dark-bike-orange inset;
        }

        input[type="radio"]:hover ~ span,
        input[type="radio"]:focus ~ span {
            background: $bike-orange;
            box-shadow: 0 0 5px 5px $dark-bike-orange inset;
            outline: none;
        }

        span {
            padding: 10px 30px; 
        }

    }

    .dropdown-location {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        .select-location {
            width: 250px;
            text-align: center;
            @include sansSerif;
            text-transform: uppercase;
        }

        .select-location:hover,
        .select-location:focus {
            outline: none;
            border-color: $bike-orange;
            border-style: solid;
        }


    }

    

}

.bike-info {
    display: none;
    margin-top: 50px;
}

.bike-info.active {
    display: flex;
}

.bike-info-left,
.bike-info-right {
    flex: 1 1 50%;
}

.bike-info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-location-name {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.info-location-image-container {
    width: 400px;

    .info-location-image {
        border-radius: 20px;
    }
}

.button-reset {
        padding: 10px 50px;
        letter-spacing: 0.5px;
        margin: 20px 0;
    }

.button-reset:hover {
    cursor: pointer;
}

.button-reset:hover,
.button-reset:focus {
    box-shadow: 0 0 5px 5px $dark-bike-orange inset;
    outline: none;
}

.bike-info-right {

    .info-station-list {
        padding: 0 10px;
    }

    .station {
        margin-bottom: 30px;
    }

    .station-name {
        margin-bottom: 5px;
    }

    .station-distance {
        margin-bottom: 5px;
    }

    .bikes-available-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .bikes-available-list li {
        margin: 0 5px;
    }

    .bike-icon {
        font-size: 2rem;
    }
}

// Media Query

@include cellphone-landscape {
    .bike-info.active {
    flex-direction: column;
}

}

@include cellphone-portrait{
.info-location-image-container {
    width: 300px;
}
}

