// COLOURS
$neutral: #FFFFFA;
$header-primary: #394A7F;
$highlight-dark: #b64900;
$highlight: #ffa246;
$font-black: #000;

// FONTS 

@mixin serif {
  font-family: 'Playfair Display', serif;

}

@mixin sansSerif {
  font-family: 'Muli', sans-serif;
}

// Media Queries

@mixin tablet-landscape {
    @media only screen and (max-width: 1060px) {
        @content;
    }
}

@mixin cellphone-landscape {
    @media only screen and (max-width: 750px) {
        @content;
    }
}

@mixin cellphone-landscape-two {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin cellphone-portrait {
    @media only screen and (max-width: 500px) {
        @content;
    }
}

@mixin cellphone-small-screen {
    @media only screen and (max-width: 335px) {
        @content;
    }
}

