// https://coolors.co/fffffa-515052-c8963e-f3b700-ff312e

$neutral: #FFFFFA;
$grey: #515052;
$highlight: #FF312E;
$satin-sheen-gold: #C8963E;
$orange-yellow: #F3B700;
$bike-blue: #394A7F;
$dark-bike-orange: #b64900;
$bike-orange: #ffa246;
$font-black: #000;


@mixin serif {
  font-family: 'Playfair Display', serif;

}

@mixin sansSerif {
  font-family: 'Muli', sans-serif;
}