html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Muli', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  color: #394A7F;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.button {
  border: none;
  border-radius: 4px;
  background: #ffa246;
  text-transform: uppercase;
}

header {
  height: 100vh;
  background-image: url(../assets/tiffany-nutt-0ClfreiNppM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.intro {
  max-width: 40%;
  position: absolute;
  top: 10%;
  left: 70%;
}

.intro h1 {
  padding: 5% 0;
  color: #394A7F;
  font-size: 4rem;
}

.intro p {
  width: 80%;
  color: #000;
  font-size: 2rem;
  padding-bottom: 2%;
  margin-bottom: 20px;
}

.button-begin {
  border: none;
  padding: 10px 40px;
  border-radius: 4px;
  background: #ffa246;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.form-title {
  text-align: center;
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 4rem;
}

.form-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-location fieldset {
  border: none;
  width: 100%;
}

.form-location .radio-landmarks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.form-location .radio-landmarks .radio-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.form-location .radio-landmarks .radio-label:hover {
  cursor: pointer;
}

.form-location .radio-landmarks .radio-label:focus {
  outline: none;
}

.form-location .radio-landmarks input[type="radio"] {
  position: fixed;
}

.form-location .radio-landmarks input[type="radio"]:checked ~ span {
  background: #ffa246;
  -webkit-box-shadow: 0 0 5px 5px #b64900 inset;
          box-shadow: 0 0 5px 5px #b64900 inset;
}

.form-location .radio-landmarks input[type="radio"]:hover ~ span,
.form-location .radio-landmarks input[type="radio"]:focus ~ span {
  background: #ffa246;
  -webkit-box-shadow: 0 0 5px 5px #b64900 inset;
          box-shadow: 0 0 5px 5px #b64900 inset;
  outline: none;
}

.form-location .radio-landmarks span {
  padding: 10px 30px;
}

.form-location .dropdown-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

.form-location .dropdown-location .select-location {
  width: 250px;
  text-align: center;
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}

.form-location .dropdown-location .select-location:hover,
.form-location .dropdown-location .select-location:focus {
  outline: none;
  border-color: #ffa246;
  border-style: solid;
}

.bike-info {
  display: none;
  margin-top: 50px;
}

.bike-info.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bike-info-left,
.bike-info-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.bike-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-location-name {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.info-location-image-container {
  width: 400px;
}

.info-location-image-container .info-location-image {
  border-radius: 20px;
}

.button-reset {
  padding: 10px 50px;
  letter-spacing: 0.5px;
  margin: 20px 0;
}

.button-reset:hover {
  cursor: pointer;
}

.button-reset:hover,
.button-reset:focus {
  -webkit-box-shadow: 0 0 5px 5px #b64900 inset;
          box-shadow: 0 0 5px 5px #b64900 inset;
  outline: none;
}

.bike-info-right .info-station-list {
  padding: 0 10px;
}

.bike-info-right .station {
  margin-bottom: 30px;
}

.bike-info-right .station-name {
  margin-bottom: 5px;
}

.bike-info-right .station-distance {
  margin-bottom: 5px;
}

.bike-info-right .bikes-available-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.bike-info-right .bikes-available-list li {
  margin: 0 5px;
}

.bike-info-right .bike-icon {
  font-size: 2rem;
}

footer {
  background-color: #ffa246;
  padding: 10px;
  text-align: right;
  margin-top: 40px;
}
